/* advantage*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advant__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advant__icon {
  width: 70px;
  height: 70px;
}
.advant__box {
  width: 450px;
  height: 120px;
  background-color: var(--bg-white-section-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.advant__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advant__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }

  .advant__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }

  .advant__box {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advant__list {
    display: flex;
    flex-wrap: nowrap;
  }

  .advant__item:not(:last-child) {
    margin-right: 30px;
  }

  .advant__item {
    flex-basis: 0;
    margin-left: 0;
    margin-top: 0;
  }

  .advant__box {
    width: 270px;
  }

  .advant__container {
    min-height: 440px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advant__title {
  color: var(--primary-title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  margin-bottom: 10px;
}

.advant__text {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71px;
  text-align: left;
}
