/* Client*/
.client__container {
  padding: 60px 0px;
}

.client {
  &__link {
    width: 210px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-white-color);
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__svg {
    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
