/* Comand*/
.team {
  background-color: var(--bg-white-section-color);

  &__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__title {
    color: var(--primary-title-text-color);
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 30px;
  }

  &__item {
    width: 450px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }

  &__card {
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__personal {
    color: var(--primary-title-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 10px;
  }
  &__proffesion {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 16px;
  }
  &__desc {
    padding: 30px;
  }
}

.social {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-white-color);
    border-radius: 50%;
    color: #afb1b8;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item {
    padding-left: 10px;
  }

  &__link:hover,
  &__link:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
  &__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    width: 354px;
  }
  .team__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .team__item:nth-child(n + 3) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
  }
  .team__item:not(:last-child) {
    margin-bottom: 0px;
  }
  .team__container {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__title {
    margin-bottom: 50px;
  }
}
