/* Hero*/
.hero {
  background-image: linear-gradient(to right, var(--bg-hero), var(--bg-hero)),
    url(../images/hero-mob@1x.jpg);

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);
  text-align: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, var(--bg-hero), var(--bg-hero)),
      url(../images/hero-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, var(--bg-hero), var(--bg-hero)),
      url(../images/hero-tab@1x.jpg);
  }
}
@media screen and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, var(--bg-hero), var(--bg-hero)),
      url(../images/hero-desctop@1x.jpg);
  }
}

@media screen and (min-width: 1200px),
  screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-desctop@2x.jpg);
  }
}

.hero__container {
  min-height: 400px;
  padding: 118px 60px;
  @media screen and (min-width: 768px) {
    padding: 118px 204px;
  }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding: 200px;
  }
}

.hero__title {
  color: var(--primary-white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.37;
  }
}

.hero__button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  border-radius: 4px;
}
