/* modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.backdrop.is-hidden .modal-container {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal-container {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 450px;
  height: 609px;

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  padding: 40px;

  background-color: var(--primary-white-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: var(--primary-white-color);
  }

  &__close-button:hover {
    fill: var(--accent-color);
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-title-text-color);
  }
}

.form-modal {
  &__box {
    display: flex;
    flex-direction: column;
    width: 370px;

    @media screen and (min-width: 1200px) {
      width: 448px;
    }

    margin-top: 10px;

    font-size: 12px;
    font-weight: 400;
    line-height: 1.166;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--primary-text-color);
  }

  &__label {
    margin-bottom: 4px;
  }

  &__textarea {
    resize: none;
    padding: 12px 16px;

    height: 120px;
    margin-bottom: 12px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border 1250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &__textarea:focus-within {
    border: 1px solid var(--accent-color);
    outline: none;
  }
}

.input-container {
  display: flex;
  flex-direction: column;

  position: relative;

  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;

    padding-left: 32px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input:focus-within {
    border: 1px solid var(--accent-color);
    outline: none;
  }

  &__input:focus ~ .icon-container svg {
    fill: var(--accent-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__input::placeholder {
    margin-left: 32px;
  }
}

.icon-container {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;

  &__svg {
    width: 18px;
    height: 18px;
    fill: var(--primary-title-text-color);
  }
}

.form-check-container {
  position: relative;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.166;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.714;
    text-align: center;
  }
  text-align: right;

  margin-bottom: 30px;

  &__link {
    color: var(--accent-color);
  }

  &__input:checked ~ .check-container {
    background-color: var(--accent-color);
    border: none;
  }
}

.check-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;

  cursor: pointer;
  border: solid 1.67px var(--primary-title-text-color);
  border-radius: 2px;
  background-size: contain;
  display: flex;
  justify-content: center;

  &__svg {
    width: 16px;
    height: 15px;
  }
}

.form-button-container {
  display: flex;
  justify-content: center;

  &__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 55px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
  }
  &__button:hover {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
