/* Модальное меню из хедера*/

.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;

  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.02em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

  @media screen and (min-width: 480px) {
    padding-left: calc((100% - 480px) / 2 + 40px);
    padding-right: calc((100% - 480px) / 2 + 40px);
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.header__icon:hover,
.header__icon:focus {
  fill: var(--accent-color);
}

.menu-container .menu-toggle {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 15px;
  border: none;
  background: var(--primary-white-color);
}

.menu-container .menu-toggle:hover {
  fill: var(--accent-color);
}

.icon-close__svg {
  width: 40px;
  height: 40px;
}

.auth-nav__list--mob {
  margin-bottom: 64px;
}

.site-nav__item--mob,
.auth-nav__item--mob {
  margin-bottom: 32px;
}

.site-nav__item--mob .link {
  font-size: 40px;
  line-height: 1.175;
  text-align: left;
  color: var(--primary-title-text-color);
}

.site-nav__item--mob .current {
  color: var(--accent-color);
}

.auth-nav__item--mob .link {
  font-size: 24px;
  line-height: 1.166;
  text-align: left;
  color: var(--primary-text-color);
}

.auth-nav__item--mob .tel {
  font-size: 34px;
  line-height: 1.1764;
  text-align: left;
  color: var(--accent-color);
}

.social__list--mob {
  display: flex;
}

.social__item--mob {
  margin-right: 20px;
  position: relative;
}
.social__item--mob .link {
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  color: var(--accent-color);

  @media screen and (max-width: 359px) {
    font-size: 13px;
  }

  @media screen and (min-width: 360px) and (max-width: 369px) {
    font-size: 15px;
  }

  @media screen and (min-width: 370px) and (max-width: 379px) {
    font-size: 16px;
  }

  @media screen and (min-width: 380px) and (max-width: 479px) {
    font-size: 17px;
  }
}

.social__item--mob:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 22px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
