/* portfolio*/

.works-container {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.filter {
  &__button {
    background-color: var(--bg-white-section-color);
    color: var(--primary-title-text-color);
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    padding: 6px 22px;
    border-radius: 4px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button:hover,
  &__button:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    border: none;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  &__list {
    display: flex;
    @media screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: 768px) {
      justify-content: center;
    }

    margin-bottom: 50px;
    margin-top: -15px;
    margin-left: -8px;
  }

  &__item {
    margin-top: 15px;
    margin-left: 8px;
  }
}

.project {
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    margin-left: -15px;
    margin-top: -15px;
  }

  &__item {
    @media screen and (min-width: 768px) {
      flex-basis: calc(100% / 2 - 15px);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc(100% / 3 - 15px);
    }

    margin-left: 15px;
    margin-top: 15px;

    border: 1px solid #eeeeee;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover,
  &__item:hover:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
  }
  &__overlay p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    text-align: left;

    padding: 66px 24px;
    color: var(--primary-white-color);
  }
  &__thumb:hover &__overlay {
    transform: translateY(0);
  }

  &__title {
    color: var(--primary-title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    margin-bottom: 4px;
  }
  &__disc {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    text-align: left;
  }

  &__box {
    padding: 20px 24px;
  }
}

a {
  text-decoration: none;
}
